.show-container {
  display: flex;
  padding: 16px;
}

.spacer-on-top-search {
  height: 130px;
  z-index:7;
  margin-left: 35px;
}

.row-search {
  margin-left: 40px;
  margin-bottom: 25px;

}
#show-big-image {
  width: 450px;
  text-align: center;
}

.content-show {
  text-align: left;
  padding: 12px;
}

.show-card {
  width: 600px;
  height: auto;
  background-color: white;
  border: 1px;
  border-color: #676767;
  border-style: solid;
  border-radius: 4px;
  padding: 16px;
  text-align: center;
  margin-left: 120px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);

  opacity: 0.91;
}

.show-search-form {
  width: 600px;
  height: 300px;
  background-color: white;
  border: 1px;
  border-color: #676767;
  border-style: solid;
  border-radius: 4px;
  padding: 16px;
  text-align: center;
  margin-left: 120px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);

  opacity: 0.91;
}

a:hover {
  text-decoration: none;
  color: #eb6909;
}

a {
  color: #989898;
}

.asdfasdf {
  font-weight: bolder;
  display: inline;
}

.asdfasdf2 {
  font-size: 25px;
  display: inline;
}

