.card-product {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  padding: 0px 24px;
  width: 80%;
};

.card-product h3 {
  margin-top: 0px;
  font-size: 24px;
  margin-bottom: 10px;
}

.card-product p {
  margin-bottom: 0px;
  opacity: 0.6;
}

#text {
  padding: 20px;
  text-align: left;
}

#title {
  margin-left: 40px;
}

